<div class="container" id="content">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

<div class="row">
  <div class="col">
      qwe qweqweqwe qweqweqweqweqweqw eqweqweqweqweqwe qweqweqweqweqweqwe qweqweqweqwewq eqweqweqweqw qew
  </div>
    <div class="col">rtyrtyrtyyrtryrt
              y rtyrtyrtyrtyrtyrt ytrytryrtytryrtyrt yrtyrtyrtyrtytry tryrtytryrtyryrtyrt ytrytry
    </div>
    <div class="col">
      rtyrtyrtyrtyrtyrt ytrytrytryrtyrtyrt yrtyrtyrtytrytr yrtytryrtyrtyrtytr ytryrty tr ytryttry try try try trytryrt
    </div>
  </div>
  <br><br><br>

<br><br><br>
<div class="container-flui">
  <h1>Basic Grid Structure</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The first, second and third row will automatically stack on top of each other when the screen is less than 576px wide.</p>

  <div class="container-flui">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-6" style="background-color:yellow;">50%</div>
      <div class="col-sm-6" style="background-color:orange;">50%



      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-4" style="background-color:yellow;">33.33%</div>
      <div class="col-sm-4" style="background-color:orange;">33.33%</div>
      <div class="col-sm-4" style="background-color:yellow;">33.33%</div>
    </div>
    <br>

    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="row">
      <div class="col-sm" style="background-color:yellow;">25%</div>
      <div class="col-sm" style="background-color:orange;">25%</div>
      <div class="col-sm" style="background-color:yellow;">25%</div>
      <div class="col-sm" style="background-color:orange;">25%</div>
    </div>
    <br>

    <div class="row">
      <div class="col" style="background-color:yellow;">25%</div>
      <div class="col" style="background-color:orange;">25%</div>
      <div class="col" style="background-color:yellow;">25%</div>
      <div class="col" style="background-color:orange;">25%</div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

<div class="row">
  <div class="col">
      qwe qweqweqwe qweqweqweqweqweqw eqweqweqweqweqwe qweqweqweqweqweqwe qweqweqweqwewq eqweqweqweqw qew
  </div>
    <div class="col">rtyrtyrtyyrtryrt
              y rtyrtyrtyrtyrtyrt ytrytryrtytryrtyrt yrtyrtyrtyrtytry tryrtytryrtyryrtyrt ytrytry
    </div>
    <div class="col">
      rtyrtyrtyrtyrtyrt ytrytrytryrtyrtyrt yrtyrtyrtytrytr yrtytryrtyrtyrtytr ytryrty tr ytryttry try try try trytryrt
    </div>
  </div>
  <br><br><br>

<br><br><br>
<div class="container-flui">
  <h1>Basic Grid Structure</h1>
  <p>Resize the browser window to see the effect.</p>
  <p>The first, second and third row will automatically stack on top of each other when the screen is less than 576px wide.</p>

  <div class="container-flui">
    <!-- Control the column width, and how they should appear on different devices -->
    <div class="row">
      <div class="col-sm-6" style="background-color:yellow;">50%</div>
      <div class="col-sm-6" style="background-color:orange;">50%



      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-sm-4" style="background-color:yellow;">33.33%</div>
      <div class="col-sm-4" style="background-color:orange;">33.33%</div>
      <div class="col-sm-4" style="background-color:yellow;">33.33%</div>
    </div>
    <br>

    <!-- Or let Bootstrap automatically handle the layout -->
    <div class="row">
      <div class="col-sm" style="background-color:yellow;">25%</div>
      <div class="col-sm" style="background-color:orange;">25%</div>
      <div class="col-sm" style="background-color:yellow;">25%</div>
      <div class="col-sm" style="background-color:orange;">25%</div>
    </div>
    <br>

    <div class="row">
      <div class="col" style="background-color:yellow;">25%</div>
      <div class="col" style="background-color:orange;">25%</div>
      <div class="col" style="background-color:yellow;">25%</div>
      <div class="col" style="background-color:orange;">25%</div>
    </div>
  </div>
</div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
</div>


<br>
<br>
<br>
<br>

