<div id="header">
  <lt-logo>Logo</lt-logo>
  <lt-logo>Pogo</lt-logo>

<lt-horizontal-menu [classId]="'HorMenu'">
    <lt-menu-item [classId]="'HorMenu'">Link A</lt-menu-item>
    <lt-menu-item [classId]="'HorMenu'">Link B</lt-menu-item>
    <lt-submenu [classId]="'HorMenu'" [title]="'Eerste Menu'">
      <lt-submenu-item [classId]="'HorMenu'">Link C</lt-submenu-item>
      <lt-submenu-item [classId]="'HorMenu'">Link D</lt-submenu-item>
      <lt-submenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
        <lt-submenu-item [classId]="'HorMenu'">Link E</lt-submenu-item>
        <lt-submenu-item [classId]="'HorMenu'">Link F</lt-submenu-item>
      </lt-submenu>
      <lt-submenu [classId]="'HorMenu'" [title]="'Derde Menu'">
        <lt-submenu-item [classId]="'HorMenu'">Link G</lt-submenu-item>
        <lt-submenu-item [classId]="'HorMenu'">Link H</lt-submenu-item>
      </lt-submenu>
    </lt-submenu>
    <lt-dropdown-menu [classId]="'HorMenu'" [title]="'Eerste Menu'">
      <lt-submenu-item [classId]="'HorMenu'">Link C</lt-submenu-item>
      <lt-submenu-item [classId]="'HorMenu'">Link D</lt-submenu-item>
      <lt-submenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
        <lt-submenu-item [classId]="'HorMenu'">Link E</lt-submenu-item>
        <lt-submenu-item [classId]="'HorMenu'">Link F</lt-submenu-item>
      </lt-submenu>
      <lt-submenu [classId]="'HorMenu'" [title]="'Derde Menu'">
        <lt-submenu-item [classId]="'HorMenu'">Link G</lt-submenu-item>
        <lt-submenu-item [classId]="'HorMenu'">Link H</lt-submenu-item>
      </lt-submenu>
    </lt-dropdown-menu>

  </lt-horizontal-menu>
  <lt-breadcrumb>
    <lt-breadcrumb-home>Home</lt-breadcrumb-home>
    <lt-breadcrumb-item>Admin</lt-breadcrumb-item>
    <lt-breadcrumb-item>Account</lt-breadcrumb-item>
  </lt-breadcrumb>

</div>




<br>
<span>kkkkkk</span><span>llllll</span><span style="text-align: right;">mmmmmm</span>


<br>

<div>kkkkkk</div><div>llllll</div><div>mmmmmm</div>
