<div id="header">
  <div class="flex flex-direction:horizontal">aaaaa<div>bbbb</div></div>
  <lt-logo>Logocode voor</lt-logo>
<hormenu [classId]="'HorMenu'">
  <lt-logo [classId]="'HorMenu'">Logocode in</lt-logo>
  <MenuItem [classId]="'HorMenu'">Logoitem</MenuItem>
    <MenuItem [classId]="'HorMenu'">Link A</MenuItem>
    <MenuItem [classId]="'HorMenu'">Link B</MenuItem>
    <dropdownmenu [classId]="'HorMenu'" [title]="'Eerste Menu'">
      <SubMenuItem [classId]="'HorMenu'">Link C</SubMenuItem>
      <SubMenuItem [classId]="'HorMenu'">Link D</SubMenuItem>
      <SubMenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
        <SubMenuItem [classId]="'HorMenu'">Link E</SubMenuItem>
        <SubMenuItem [classId]="'HorMenu'">Link F</SubMenuItem>
      </SubMenu>
      <SubMenu [classId]="'HorMenu'" [title]="'Derde Menu'">
        <SubMenuItem [classId]="'HorMenu'">Link G</SubMenuItem>
        <SubMenuItem [classId]="'HorMenu'">Link H</SubMenuItem>
      </SubMenu>
    </dropdownmenu>
    <dropdownmenu [classId]="'HorMenu'" [title]="'Eerste Menu'">
      <SubMenuItem [classId]="'HorMenu'">Link C</SubMenuItem>
      <SubMenuItem [classId]="'HorMenu'">Link D</SubMenuItem>
      <SubMenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
        <SubMenuItem [classId]="'HorMenu'">Link E</SubMenuItem>
        <SubMenuItem [classId]="'HorMenu'">Link F</SubMenuItem>
      </SubMenu>
      <SubMenu [classId]="'HorMenu'" [title]="'Derde Menu'">
        <SubMenuItem [classId]="'HorMenu'">Link G</SubMenuItem>
        <SubMenuItem [classId]="'HorMenu'">Link H</SubMenuItem>
      </SubMenu>
    </dropdownmenu>
  </hormenu>

  <lt-breadcrumb>
    <lt-breadcrumb-home>Home</lt-breadcrumb-home>
    <lt-breadcrumb-item>Admin</lt-breadcrumb-item>
    <lt-breadcrumb-item>Account</lt-breadcrumb-item>
    <lt-breadcrumb-item>Admin</lt-breadcrumb-item>
    <lt-breadcrumb-item>Account</lt-breadcrumb-item>
  </lt-breadcrumb>
</div>
