<div id="left-content">
<VerMenu [classId]="'VerMenu'">
  <VerLogo [classId]="'VerMenu'">Logo</VerLogo>
  <VerMenuItem [classId]="'VerMenu'">Link A</VerMenuItem>
  <VerMenuItem [classId]="'VerMenu'">Link B</VerMenuItem>
  <VerMenuItem [classId]="'VerMenu'">Link C</VerMenuItem>
  <VerMenuItem [classId]="'VerMenu'">Link D</VerMenuItem>
    <VerMainSubMenu [classId]="'VerMenu'" [title]="'Eerste Menu'">
      <VerSubMenuItem [classId]="'VerMenu'">Link C</VerSubMenuItem>
      <VerSubMenuItem [classId]="'VerMenu'">Link D</VerSubMenuItem>
      <VerSubMenu [classId]="'VerMenu'" [title]="'Tweede Menu'">
        <VerSubMenuItem [classId]="'VerMenu'">Link E</VerSubMenuItem>
        <VerSubMenuItem [classId]="'VerMenu'">Link F</VerSubMenuItem>
      </VerSubMenu>
    </VerMainSubMenu>
    <VerMainSubMenu [classId]="'VerMenu'" [title]="'EenTweeDrie Menu'">
      <VerSubMenuItem [classId]="'VerMenu'">Link C</VerSubMenuItem>
      <VerSubMenuItem [classId]="'VerMenu'">Link D</VerSubMenuItem>
      <VerSubMenu [classId]="'VerMenu'" [title]="'Vierde Menu'">
        <VerSubMenuItem [classId]="'VerMenu'">Link G</VerSubMenuItem>
        <VerSubMenuItem [classId]="'VerMenu'">Link H</VerSubMenuItem>
      </VerSubMenu>
    </VerMainSubMenu>
  </VerMenu>
</div>

