<div id="header">
  <div class="header-grid-container">
        <HorLogo>&clubs;Leertouwer Test Environment</HorLogo>

      <div class="" style="text-align: right;">

        <HorMenu [classId]="'HorMenu'">
          <HorLogo [classId]="'HorMenu'">Logocode in</HorLogo>
          <HorMenuItem [classId]="'HorMenu'">Logoitem</HorMenuItem>
          <HorMenuItem [classId]="'HorMenu'">Link A</HorMenuItem>
          <HorMenuItem [classId]="'HorMenu'">Link B</HorMenuItem>
          <HorDropDownMenu [classId]="'HorMenu'" [title]="'Eerste Menu'">
            <HorSubMenuItem [classId]="'HorMenu'">Link C</HorSubMenuItem>
            <HorSubMenuItem [classId]="'HorMenu'">Link D</HorSubMenuItem>
            <HorSubMenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
              <HorSubMenuItem [classId]="'HorMenu'">Link E</HorSubMenuItem>
              <HorSubMenuItem [classId]="'HorMenu'">Link F</HorSubMenuItem>
            </HorSubMenu>
            <HorSubMenu [classId]="'HorMenu'" [title]="'Derde Menu'">
              <HorSubMenuItem [classId]="'HorMenu'">Link G</HorSubMenuItem>
              <HorSubMenuItem [classId]="'HorMenu'">Link H</HorSubMenuItem>
            </HorSubMenu>
          </HorDropDownMenu>
          <HorDropDownMenu [classId]="'HorMenu'" [title]="'Eerste Menu'">
            <HorSubMenuItem [classId]="'HorMenu'">Link C</HorSubMenuItem>
            <HorSubMenuItem [classId]="'HorMenu'">Link D</HorSubMenuItem>
            <HorSubMenu [classId]="'HorMenu'" [title]="'Tweede Menu'">
              <HorSubMenuItem [classId]="'HorMenu'">Link E</HorSubMenuItem>
              <HorSubMenuItem [classId]="'HorMenu'">Link F</HorSubMenuItem>
            </HorSubMenu>
            <HorSubMenu [classId]="'HorMenu'" [title]="'Derde Menu'">
              <HorSubMenuItem [classId]="'HorMenu'">Link G</HorSubMenuItem>
              <HorSubMenuItem [classId]="'HorMenu'">Link H</HorSubMenuItem>
            </HorSubMenu>
          </HorDropDownMenu>
        </HorMenu>
      </div>



<lt-breadcrumb>
  <lt-breadcrumb-home>Home</lt-breadcrumb-home>
  <lt-breadcrumb-item>Action 1</lt-breadcrumb-item>
  <lt-breadcrumb-item>Action 2</lt-breadcrumb-item>
  <lt-breadcrumb-item>Action 3</lt-breadcrumb-item>
</lt-breadcrumb>

<app-breadcrumb></app-breadcrumb>
</div>