<div id="header">
  <div class="header-grid-container">
        <!-- <HorLogo><a routerLink="home">&clubs;Leertouwer Test Environment</a></HorLogo> -->
        <HorLogo [routerLink]="''">&clubs;Leertouwer Test Environment</HorLogo>



      <div class="" style="text-align: right;">
        <HorMenu [classId]="'HrMenu'">
          <HorMenuItem [routerLink]="'staging'" [classId]="'HrMenu'">Staging</HorMenuItem>
          <HorMenuItem [routerLink]="'formtest'" [classId]="'HrMenu'">Formtest</HorMenuItem>

          <HorDropDownMenu [classId]="'HrMenu'" [title]="'Bootstrap'">
            <HorSubMenuItem  [routerLink]="'allerlei/childcreate'" [classId]="'HrMenu'">Create a child</HorSubMenuItem>
            <HorSubMenuItem [routerLink]="'allerlei/routingtest'" [classId]="'HrMenu'">Routing test</HorSubMenuItem>
          </HorDropDownMenu>
          <HorDropDownMenu [classId]="'HrMenu'" [title]="'Allerlei'">
            <HorSubMenuItem  [routerLink]="'allerlei/childcreate'" [classId]="'HrMenu'">Create a child</HorSubMenuItem>
            <HorSubMenuItem [routerLink]="'allerlei/routingtest'" [classId]="'HrMenu'">Routing test</HorSubMenuItem>
            <HorSubMenuItem [routerLink]="'allerlei/users'" [classId]="'HrMenu'">Users</HorSubMenuItem>
          </HorDropDownMenu>
          <HorDropDownMenu [classId]="'HrMenu'" [title]="'Eerste Menu'">
            <HorSubMenuItem [classId]="'HrMenu'">Link C</HorSubMenuItem>
            <HorSubMenuItem [classId]="'HrMenu'">Link D</HorSubMenuItem>
            <HorSubMenu [classId]="'HrMenu'" [title]="'Tweede Menu'">
              <HorSubMenuItem [classId]="'HrMenu'">Link E</HorSubMenuItem>
              <HorSubMenuItem [classId]="'HrMenu'">Link F</HorSubMenuItem>
            </HorSubMenu>
          </HorDropDownMenu>
          <HorMenuItem [routerLink]="'about'"    [classId]="'HrMenu'">About</HorMenuItem>
        </HorMenu>
      </div>

<app-breadcrumb></app-breadcrumb>
</div>