<div id="container">
  <lt-grid-container [widths]="'200px 100px 300px'">
    <lt-grid-item>qwe qweqweqwe qweqweqweqweqweqw eqweqweqweqweqwe qweqweqweqweqweqwe qweqweqweqwewq eqweqweqweqw qew</lt-grid-item>
    <lt-grid-item>rtyrtyrtyyrtryrty rtyrtyrtyrtyrtyrt ytrytryrtytryrtyrt yrtyrtyrtyrtytry tryrtytryrtyryrtyrt ytrytry</lt-grid-item>
    <lt-grid-item>rtyrtyrtyrtyrtyrt ytrytrytryrtyrtyrt yrtyrtyrtytrytr yrtytryrtyrtyrtytr ytryrty tr ytryttry try try try trytryrt</lt-grid-item>
  </lt-grid-container>
<header></header>
<lt-vertical-menu [classId]="'VerMenu'">
<lt-logo>Logo</lt-logo>

  <lt-menu-item [classId]="'VerMenu'">adgadgadg</lt-menu-item>
  <lt-menu-item [classId]="'VerMenu'">Link A</lt-menu-item>
  <lt-menu-item [classId]="'VerMenu'">Link B</lt-menu-item>

  <lt-submenu [classId]="'VerMenu'" [title]="'Eerste Menu'">
    <lt-submenu-item [classId]="'VerMenu'">Link C</lt-submenu-item>
    <lt-submenu-item [classId]="'VerMenu'">Link D</lt-submenu-item>
    <lt-submenu [classId]="'VerMenu'" [title]="'Tweede Menu'">
      <lt-submenu-item [classId]="'VerMenu'">Link E</lt-submenu-item>
      <lt-submenu-item [classId]="'VerMenu'">Link F</lt-submenu-item>
    </lt-submenu>
    <lt-submenu [classId]="'VerMenu'" [title]="'Derde Menu'">
      <lt-submenu-item [classId]="'VerMenu'">Link G</lt-submenu-item>
      <lt-submenu-item [classId]="'VerMenu'">Link H</lt-submenu-item>
    </lt-submenu>
  </lt-submenu>
</lt-vertical-menu>
</div>
