.header-grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
  padding: 10px;
}

.content-grid-container {
  display: grid;
  grid-template-columns: 150px 600px auto;
  grid-gap: 10px;
  /* display:inline-flex; */
}

.HorMenu-hor-submenu-item{
  color: rgb(255, 255, 255);
}

.HorMenu-hor-menu-item {
  background:rgb(109, 58, 58);
  color: rgb(255, 255, 255);
}

.HorMenu-hor-submenu{
  background: rgb(6, 2, 22);
}

.HorMenu-hor-dropdown-menu{
  background: rgb(65, 24, 24);
}

.VerMenu-ver-submenu{
  background: rgb(6, 2, 22);
  color: rgb(255, 255, 255);
}

.VerMenu-ver-dropdown-menu{
  background: rgb(65, 24, 24);
}

.VerMenu-ver-submenu-item{
  color: rgb(18, 63, 46);
}

.VerMenu-ver-menu-item{
  color: rgb(58, 22, 22);
}

