

/* .HorMenu-hor-menu{background:rgb(36, 2, 2);} */
.HrMenu-hor-menu-item {color: rgb(14, 2, 15);}
.HrMenu-hor-submenu{background: rgb(236, 226, 222);}
.HrMenu-hor-submenu-item{color: rgb(3, 27, 5);}

.HrMenu-hor-logo{width:300px; color:rgb(81, 71, 138);background-color: rgb(64, 37, 66);}
.lt-hor-menu-item{width:300px; color:rgb(228, 196, 196);background-color: rgb(28, 28, 37);}

/* .VerMenu-ver-menu{background: rgb(6, 2, 22);} */
.VerMenu-ver-menu-item{color: rgb(157, 221, 174);}
.VerMenu-ver-submenu{background: rgb(231, 229, 219);}
.VerMenu-ver-submenu-item{color: rgb(13, 6, 43);}





