* {
  padding: 0px;
  margin: 0px;
}

a:link, a:hover, a:visited, a:active{color:unset;background-color: unset;
    white-space: pre;
}

html {
  margin: 0px;
  background-color: #4d5e85;
  font-size: 85%;
}

body {
  top:0;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: block;
  width: 920px;
}

#container {
  position:fixed;
  display: inline;
  top: 90px;
  height: 93vh;
  overflow: scroll;
}

.header-grid-container {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 10px;
  padding: 10px;
}

.content-grid-container {
  display: grid;
  grid-template-columns: 200px 500px 200px;
  grid-gap: 10px;
  background: #fff;
}

#header {
  height: 90px;
  width: 100%;
  position:fixed;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
  z-index: +1;
}

#centre-content,
#right-content,
#left-content {
  height: 100%;
}

#left-content, #right-content{
  background-color: rgb(233, 216, 194);
  width: fit-;
}

#centre-content {
  overflow: scroll;
  background-color: cornsilk;
  color: #000;
}

#footer {
  position: inside;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 20px;
}

