<div id="left-content">
<VerMenu [classId]="'VerMenu'">
  <lt-logo [classId]="'VerMenu'">Logo</lt-logo>

  <MenuItem [classId]="'VerMenu'">Link A</MenuItem>
  <MenuItem [classId]="'VerMenu'">Link B</MenuItem>

  <MenuItem [classId]="'VerMenu'">Link C</MenuItem>
  <MenuItem [classId]="'VerMenu'">Link D</MenuItem>



    <VerSubMenu [classId]="'VerMenu'" [title]="'Eerste Menu'">
      <SubMenuItem [classId]="'VerMenu'">Link C</SubMenuItem>
      <SubMenuItem [classId]="'VerMenu'">Link D</SubMenuItem>
      <SubMenu [classId]="'VerMenu'" [title]="'Tweede Menu'">
        <SubMenuItem [classId]="'VerMenu'">Link E</SubMenuItem>
        <SubMenuItem [classId]="'VerMenu'">Link F</SubMenuItem>
      </SubMenu>
      <SubMenu [classId]="'VerMenu'" [title]="'Derde Menu'">
        <SubMenuItem [classId]="'VerMenu'">Link G</SubMenuItem>
        <SubMenuItem [classId]="'VerMenu'">Link H</SubMenuItem>
      </SubMenu>
    </VerSubMenu>
  </VerMenu>

  <VerSubMenu [classId]="'VerMenu'" [title]="'EenTweeDrie Menu'">
    <SubMenuItem [classId]="'VerMenu'">Link C</SubMenuItem>
    <SubMenuItem [classId]="'VerMenu'">Link D</SubMenuItem>
    <SubMenu [classId]="'VerMenu'" [title]="'Derde Menu'">
      <SubMenuItem [classId]="'VerMenu'">Link G</SubMenuItem>
      <SubMenuItem [classId]="'VerMenu'">Link H</SubMenuItem>
    </SubMenu>
  </VerSubMenu>
</div>
