
* {
	padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-family: arial, helvetica, sans-serif;
  line-height:16px;
}

.nav-link{
  color:rgb(109, 58, 58)
}

.HorMenu-submenu-item{
  color: rgb(255, 255, 255);
}

.HorMenu-menu-item{
  color: rgb(255, 255, 255);
}
.HorMenu-submenu{
  background: rgb(6, 2, 22);
}
.HorMenu-dropdown-menu{
  background: rgb(65, 24, 24);
}

.VerMenu-submenu{
  background: rgb(6, 2, 22);
  color: rgb(255, 255, 255);
}

.VerMenu-dropdown-menu{
  background: rgb(65, 24, 24);
}

.VerMenu-submenu-item{
  color: rgb(18, 63, 46);
}

.VerMenu-menu-item{
  color: rgb(58, 22, 22);
}



html {
  color: #666;
  padding-top: 0px;
  font-size: 76%;
}

body{
  padding-top: 7px;
  height: 100vh;
  background-color: #4d5e85;
}

#container{
  margin: 0px auto;
  width: 920px;
  height: 98%;
  border-radius: 20px;
  background: #fff;
}

#header{
  height: 50px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(228, 18, 18);
}

#mainMenu       {float:left;height:48px;margin:0;padding:0;}
#topmenu        {position: absolute; left:303px;top:38px;width:553px;height:48px; background:#fff url('/img/bg_topmenu.png')  no-repeat;}
#extern         {float:right;margin: 26px 0px 0px 18px;}
#extern ul      {margin:0px;}
#extern li      {display:inline;}
#extern a       {padding: 0px 10px 0px 10px;font-weight:bold;color:#838383; padding-top: 0px; text-decoration: none}
#extern a:hover {color: #e33c20}

#content        {float:left;width:920px;margin: 0px 0px 0px 0;background: url('/img/bg_content.jpg') no-repeat;}

/* GRID */
/* =================================================== */
#col1H          {display: inline; background: #fff; float: left; margin: 0px 0px 0px 45px; width: 453px; height: 151px;}
#col2H          {float:left;background:#fff url('/img/bg_ad.jpg') no-repeat; margin: 0px 0px 0px 36px; width: 330px; height: 151px;}
#col2H p        {padding:12px;}

#breadcrumbs    {display: inline; float:left;margin: 0px 0px 0px 62px; height: 16px; width: 762px; padding: 5px 10px 4px 20px;}

#col1Divider    {display: inline; float:left; margin: 0px 0px 2px 45px; width: 453px;}
#col2Divider    {float:left; margin: 0px 0px 2px 36px; width: 330px;}
#colBDivider    {display: inline; float:left; margin: 0px 0px 2px 45px; background:#f1b602;width:809px;}

#col1Content    {display: inline; float: left; width: 406px; margin: 0px 0px 0px 62px; padding: 21px 10px 10px 20px; background: #fff url('/img/bg_col2content.jpg') 11px 2px repeat-x;}
#col2Content    {float:left; margin: 2px 0px 0px 36px; width: 330px;}
#colBContent    {display: inline; float: left; width: 762px; margin: 0px 0px 0px 62px; padding: 21px 10px 10px 20px; background: #fff url('/img/bg_col2content.jpg') 11px 2px repeat-x;}

/* CONTENT */
/* =================================================== */

/* SUBMENU */
/* =================================================== */
ul#subnav       {width:320px; list-style-type: none; padding-left: 0px}
#subnav li      {padding:5px 12px 5px 18px; margin-bottom:2px; background:#f3f1e8;}


#footer 		{
  clear: both;
  background: url('/img/bg_corner_footer.jpg') no-repeat;
  margin: 10px 0px 0px 0px;
  width: 920px;
  height: 114px;
  color:#ffffff;}

#footerContent 	  {margin:0px 0 0 0; padding: 70px 0 0 70px; color:#c5cbd7;}
#footerContent p  {padding:0px; display:inline; float:right; margin:4px 12px 10px 0px;}
#footer img       {padding:0 4px 0 0; float: right; margin: 11px 2px 0px 0px;}
#footer a         {padding:0 4px 0 4px; font-weight: normal; color: #7f7f7f; text-decoration: none}
#footer a:hover   {background: #edf7fe; color: #e33c20}


